.SecondPage {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.SecondPage__Sources {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.SecondPage__NewsCard {
  width: calc(100% - 460px);
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.SecondPage__Link a {
  color: inherit;
  text-decoration: inherit;
}
